@use '../../GlobalStyle.module.scss' as globals;

.navStyle{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: globals.$raisinBlack;

    figure{
        img{
            width: 10vw;
        }
    }

    ul{
        display: flex;
        gap: 14px;
        justify-content: flex-end;
        margin: 32px;

        li{
            list-style: none;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}